.contacto__title {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: darken($color: $dark-blue, $amount: 2);
  margin-bottom: 3rem;
}

.contacto__formulario {
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
  width: 70%;
  background-color: $white;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.contacto__persona {
  width: 70%;
  height: 5rem;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.contacto__email {
  width: 70%;
  text-align: center;
  height: 5rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.contacto__mensaje {
  width: 70%;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 1rem;
  height: 10rem;
}

.contacto__boton-formulario {
  width: 70%;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: $dark-blue;
  color: $white;
  font-weight: bold;
  font-size: 2rem;
  &:hover {
    background-color: darken($color: $dark-blue, $amount: 5);
  }
}
